@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';


/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


span[data-radix-focus-guard] {
  display: none !important;
}